@font-face {
  font-family: "iconfont"; /* Project id 4068386 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1686067023698') format('woff2'),
       url('iconfont.woff?t=1686067023698') format('woff'),
       url('iconfont.ttf?t=1686067023698') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dengpao:before {
  content: "\e61e";
}

.icon-del:before {
  content: "\e61f";
}

.icon-edit:before {
  content: "\e620";
}

.icon-noAddress:before {
  content: "\e61d";
}

.icon-dingwei:before {
  content: "\e61c";
}

.icon-lv-:before {
  content: "\e626";
}

.icon-lv-1:before {
  content: "\e627";
}

.icon-lv-2:before {
  content: "\e628";
}

.icon-lv-3:before {
  content: "\e629";
}

.icon-lv-4:before {
  content: "\e62a";
}

.icon-like01:before {
  content: "\e74d";
}

.icon-fenxiang:before {
  content: "\e645";
}

.icon-fanhui:before {
  content: "\e61b";
}

.icon-weixin:before {
  content: "\e61a";
}

.icon-a-shopcart2:before {
  content: "\e619";
}

.icon-a-weizhi2:before {
  content: "\e618";
}

.icon-zhuanfa:before {
  content: "\e616";
}

.icon-add:before {
  content: "\e617";
}

.icon-comment:before {
  content: "\e613";
}

.icon-share:before {
  content: "\e614";
}

.icon-like:before {
  content: "\e615";
}

.icon-title:before {
  content: "\e60d";
}

.icon-upload:before {
  content: "\e60e";
}

.icon-fenzu:before {
  content: "\e60f";
}

.icon-video:before {
  content: "\e610";
}

.icon-message:before {
  content: "\e611";
}

.icon-complete:before {
  content: "\e612";
}

.icon-gouwuche:before {
  content: "\e60c";
}

.icon-baofa:before {
  content: "\e60b";
}

.icon-youyang:before {
  content: "\e60a";
}

.icon-liliang:before {
  content: "\e609";
}

.icon-quanbu:before {
  content: "\e608";
}

.icon-chengren:before {
  content: "\e607";
}

.icon-teenagers:before {
  content: "\e606";
}

.icon-order:before {
  content: "\e600";
}

.icon-contact:before {
  content: "\e601";
}

.icon-about:before {
  content: "\e602";
}

.icon-setting:before {
  content: "\e603";
}

.icon-course:before {
  content: "\e604";
}

.icon-cart:before {
  content: "\e605";
}

